<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.projetodam.avista">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bird_logo"
        android:label="@string/nome_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31">
        <activity
            android:name="com.projetodam.avista.ui.AdicionarObsActivity"
            android:exported="false" />
        <activity
            android:name="com.projetodam.avista.ui.EditarObsActivity"
            android:exported="false" />
        <activity
            android:name="com.projetodam.avista.ui.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.projetodam.avista.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.projetodam.avista.ui.activity.MapActivity"
            android:exported="false" />
        <activity android:name="com.projetodam.avista.ui.AboutActivity" />
        <activity
            android:name="com.projetodam.avista.ui.FullscreenObservacaoActivity"
            android:label="@string/nome_app"
            android:theme="@style/Theme.Avista">
        </activity>
        <activity
            android:name="com.projetodam.avista.ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projetodam.avista.ui.MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>